<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabelDelete">Remove password</h4>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to delete this password?</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="del" type="button" (click)="delete()">Ок</button></div>
        </div>
    </div>
</div>